/*color: #276afb;*/
.hero-section {
  display:flex; 
  justify-content:center;
}

.home__hero-section {
  background-color: #fff;
}

.home__hero-row {
  align-items: center;
}

.row {
  display: flex;
  margin: 0 -1.5rem -1.5rem -1.5rem;
  flex-wrap: wrap;
  align-content: stretch;
  max-width: 120rem;
  margin: auto;
}
.col {
  margin: 3rem 0 2rem 0;
  padding: 0 1.5rem 0 1.5rem;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}

.home__hero-text-wrapper {
  max-width: 100%;
  margin-top: 5rem;
  padding: 0 0 12rem 0;
}

.top-line {
  color: #f00946;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.heading {
  color: #276AFB;
  margin-bottom: 1.5rem;
  font-size: 3rem;
  line-height: 1.1;
  font-weight: 600;
  text-align: left;
}

.darkBg {
  background-color: #242634;
}

.home__hero-subtitle {
  max-width: 100%;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: justify;
  margin-left: 0;
  color: #f7f8fa;
  white-space: pre-line;
}

.dark {
  color: #242634;
}

.home__hero-button {
  padding: 24px 0 0 0;
}

.home__hero-img-wrapper {
  max-width: 100%;
}

.home__hero-img {
  max-width: 80%;
  margin: auto;
  margin-top: 5rem;
  display: block;
}

img {
  border: 0;
  display: inline-block;
  position: relative;
}

@media screen and (max-width: 991px) {
  .container {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .row {
    max-width: 100%;
  }

  .col {
    max-width: 100%;
    flex-basis: 100%;
    padding: 0;
    margin-top: 1rem ;
  }

  .home__hero-text-wrapper {
    max-width: 100%; 
    margin-bottom: 0;
    padding: 0 0 2rem 0 ;
  }

  .top-line {
    margin: 2rem 0 2rem 0;
    text-align: center;
  }

  .heading {
    margin: 1rem 0 1rem 0;
    text-align: center;
  }

  .home__hero-subtitle {
    max-width: 100%;
    margin: 1rem 0 1rem 0;
    text-align: justify;
  }

  .home__hero-button {
    padding: 24px 0 0 0;
    margin: 10px 0 0 0;
  }

  .home__hero-img {
    max-width: 80%;
    margin-bottom: 1rem;
    display: block;
  }

}

@media screen and (max-width: 376px) {
  .container {
    padding: 0;
  }

  .row {
    max-width: 100%;
    margin: 0;
  }

  .col {
    margin: 0;
    max-width: 100%;
    flex-basis: 100%;

  }

  .home__hero-text-wrapper {
    max-width: 100%;
    padding: 0
  }

  .top-line {
    margin: 2rem 0 2rem 0;
    text-align: center;
    font-size: 1.5rem;
  }

  .heading {
    margin: 1rem 0 1rem 0;
    text-align: center;
    font-size: 2.2rem;
  }

  .home__hero-subtitle {
    max-width: 100%;
    margin: 0;
    font-size: 1.5rem;
    text-align: justify;
  }

  .home__hero-button {
    padding: 24px 0 0 0;
    margin: 10px 0 0 0;
  }

  .home__hero-img {
    margin: auto;
    padding: 1rem 0 1rem 0;
    display: block;
  }

}